{% extends "./layouts/app.twig" %}

{% block body %}
{# Maak hier een form aan #}
<form action="" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="image">Image</label>
    <input type="file" name="image" id="image">

    </select>

</form>
{% endblock %}