<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style/output.css">
	<title>DierenDoos</title>
	<script src="/public/js/script.js" defer></script>
</head>

<body class="bg-black">
	<header class="py-3 text-3xl text-dark bg-primary">
		<div class="max-w-6xl justify-between flex items-center mx-auto">
			<div class="flex items-center gap-8">
				<a href="/shops" class="hover:text-contrast">DierenDoos</a>
				</div>
				<div class="content">
				{% for categorie in categories %}
				<a href="">{{categorie.name}}</a>
				{% endfor %}
				</div>
			<div class="flex gap-3 content-center">
				<form action="" method="post" class="text-center">
					<button class="hover:text-contrast text-md min-h-full" name="logout">Log out</button>
				</form>
			</div>
			</div>
			</header>
	{# zet hier my-16 als je wilt dat de content wat van de header af komt te staan#}
	{% block hero %}{% endblock hero %}
	<div class="container mx-auto max-w-6xl w-full"> {% block body %}{% endblock body %}
	</div>
	<footer class="mt-14 bg-secondary w-full">
		<div class="max-w-6xl mx-auto flex justify-end">
			<ul class="list-none">
				<li>Categorie</li>
				{% for categorie in categories %}
				<li class="ml-5">{{categorie.name}}</li>
				{% endfor %}
			</ul>
		</div>
	</footer>
</body>

</html>