<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/style/output.css">
		<title>DierenDoos</title>
	</head>

	<body class="bg-light">

		{% if session.user %}
			<header class="px-16 py-3 flex items-center text-3xl justify-between text-dark bg-primary">
				<div class="flex items-center gap-8">
					<a href="/shops" class="hover:text-contrast">DierenDoos</a>
				</div>
				<div class="search">
					<form action="" method="GET">
						<input type="text" name="search" id="search" placeholder="search" class="py-2 px-3 text-sm rounded text-dark">
					</form>
				</div>
				<div class="flex gap-3 content-center">
					<form action="" method="post" class="text-center">
						<button class="hover:text-contrast text-md min-h-full" name="logout">Log out</button>
					</form>
				</div>
			</header>
		{% endif %}

		<div class="container my-16 mx-auto max-w-3xl"> {% block body %}{% endblock body %}
			</div>
		</body>

	</html>
