{% extends "./layouts/app.twig" %}

{% block hero %}
<section id="bgimage" class="">
	<img src="../../public/img/pexels-pixabay-164186 1.png" alt="" class="w-full">
</section>
{% endblock hero %}

{% block body %}

<section id="categories" class="flex mt-40">
	<div class="grid grid-cols-4 gap-4 rounded-t-lg w-full">
		{% for categorie in categories %}
		<div class="rounded-lg w-56 h-48 bg-secondary place-items-center mx-auto text-center">
			<img class="mx-auto -mt-20 h-40 w-40" src="../../public/img/categories/{{categorie.image}}" alt="">
			<p>{{categorie.name}}</p>
		</div>
		{% endfor %}
	</div>
	</section>

<section id="categories" class="flex mt-40">
	<div class="grid grid-cols-4 gap-4 rounded-t-lg space-x-4 w-full h-48 ">
		{% for categorie in categories %}
		<div class="rounded-lg w-56 h-48 bg-secondary place-items-center text-center">
			<img class="ml-5 -mt-20 h-40 w-40" src="../../public/img/categories/{{categorie.image}}" alt="">
			<p>{{categorie.name}}</p>
		</div>
		{% endfor %}
	</div>
</section>

<section class="questions ">
	<h1 class="text-3xl text-center leading-7 text-gray-900">Vragen over onze producten?</h1>
	<p class="mt-1 text-sm text-center leading-6 text-gray-600">Heeft u vragen over allergieën of andere dingen van onze
		producten?
		contacteer ons gerust</p>
	
	
	<form class="flex flex-col items-center">
		<div class="px-4 py-6 sm:p-8">
			<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
				<div class="sm:col-span-3">
					<label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First
						name</label>
					<div class="mt-2">
						<input type="text" name="first-name" id="first-name" autocomplete="given-name"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
					</div>
					</div>
					
					<div class="sm:col-span-3">
					<label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last
						name</label>
					<div class="mt-2">
						<input type="text" name="last-name" id="last-name" autocomplete="family-name"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
					</div>
					</div>
					
					<div class="sm:col-span-4">
						<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
							address</label>
						<div class="mt-2">
							<input id="email" name="email" type="email" autocomplete="email"
								class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
						</div>
					</div>
				<div class="sm:col-span-4">
					<label for="phonenumber" class="block text-sm font-medium leading-6 text-gray-900">Telefoon
						nummer</label>
					<div class="mt-2">
						<input id="phonenumber" name="phonenumber" type="phonenumber" autocomplete="phonenumber"
							class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
						</div>
						</div>
						
						<div class="col-span-full">
							<label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
							<div class="mt-2">
								<textarea id="about" name="about" rows="3"
									class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"></textarea>
							</div>
						</div>
			</div>
			</div>
		<div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
			<button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
			<button type="submit"
				class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
		</div>
	</form>


</section>

<section class="brand mt-14 text-center text-3xl">
	<h1>Door ons verkochte merken</h1>
</section>


{% endblock %}