{% extends "./layouts/app.twig" %}

{% block body %}
	<div class="container-form flex flex-col gap-y-5">
		<div class="bg-neutral-900 py-7 px-16">

			<h1 class="text-5xl mb-6 text-center text-neutral-100">Register account</h1>
			<form action="" method="post" class="flex flex-col">
				<input type="text" name="username" id="username" placeholder="Username" class="py-2 px-3 my-1 shadow-md rounded-sm">
				<input type="password" name="password" id="password" placeholder="Password" class="py-2 px-3 my-1 shadow-md rounded-sm">
				<input type="password" name="r-password" id="r-password" placeholder="Repeat password" class="py-2 px-3 my-1 shadow-md rounded-sm">
				{% if error != '' %}
					<div class="bg-red-300 text-red-700 w-full py-2 px-3 mt-3 text-center">
						{{ error }}
					</div>
				{% endif %}
				<button class="bg-violet-500 hover:bg-violet-600 py-2 px-7 tex mt-3 w-full rounded-sm mx-auto text-neutral-100">Register</button>
			</form>
		</div>
		<div class="bg-neutral-900 py-7 px-16 text-neutral-100">
			<a href="./login">or
				<span class="text-violet-300 hover:cursor-pointer">login</span>
			</a>
		</div>
	</div>

	{% for who in whoThis %}
		{{who}}
	{% endfor %}
{% endblock %}
