{% extends "./layouts/app.twig" %}


{% block body %}

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

<section class="">
	<svg class="rotate-[160deg] -mt-32 absolute flex left-3/4 -ml-[270.355px] w-auto h-[223.8px] "
		viewbox="0 0 903 822" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d_32_44)">
			<path
				d="M288.722 1.01264C341.292 -6.66232 396.981 51.5771 413.019 131.938C429.058 211.848 400.1 283.18 347.529 291.307C295.405 299.433 239.27 241.194 222.787 160.832C206.303 80.9225 236.152 9.59054 288.722 1.01264ZM607.262 1.01264C660.278 9.59054 689.681 80.9225 674.088 160.832C657.159 241.194 601.47 299.433 548.9 291.307C495.884 283.18 466.926 211.848 483.41 131.938C499.448 51.5771 555.137 -6.66232 607.262 1.01264ZM50.3741 208.688C101.162 186.566 170.216 226.747 206.303 296.724C240.161 368.056 228.578 443 178.236 465.122C127.893 487.244 59.2843 447.515 24.089 376.634C-11.1063 305.754 1.36802 230.359 50.3741 208.688ZM852.293 208.688C901.299 230.359 913.773 305.754 878.578 376.634C843.382 447.515 774.774 487.244 724.431 465.122C674.088 443 662.505 368.056 696.364 296.724C732.45 226.747 801.504 186.566 852.293 208.688ZM777.892 695.371C779.674 737.809 747.598 784.762 709.284 802.369C629.537 839.389 535.089 762.64 446.433 762.64C357.776 762.64 262.437 842.55 184.027 802.369C139.476 780.247 108.736 721.556 114.528 672.798C122.547 605.529 202.293 569.411 249.517 520.201C312.334 456.544 356.885 336.905 446.433 336.905C535.535 336.905 582.759 454.738 642.903 520.201C692.354 575.28 774.774 621.782 777.892 695.371Z"
				fill="#0898CC" fill-opacity="0.15" shape-rendering="crispEdges" />
			</g>
			<defs>
			<filter id="filter0_d_32_44" x="0" y="0.333496" width="902.667" height="821.333" filterunits="userSpaceOnUse"
				color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
					result="hardAlpha" />
				<feOffset dy="4" />
				<feGaussianBlur stddeviation="2" />
				<feComposite in2="hardAlpha" operator="out" />
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_32_44" />
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_32_44" result="shape" />
			</filter>
			</defs>
			</svg>
	<div class="bg-white mt-40">
		<main class="mx-auto max-w-7xl px-4 pb-16 pt-4 sm:px-6 sm:pb-24 sm:pt-8 lg:px-8 xl:px-2 xl:pt-14">
			<h1 class="sr-only">Checkout</h1>
			<div class="mx-auto grid max-w-lg grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
				<div class="mx-auto w-full max-w-lg">
					<div class="flow-root">
						<ul role="list" class="-my-6 divide-y divide-gray-200">
							{% for item in items[:2] %}
							<li class="flex space-x-6 py-6">
								<img src="../../public/img/items/1543518615468184919415181.png"
									alt="Front of women&#039;s basic tee in heather gray."
									class="h-48 w-48 flex-none rounded-md bg-gray-100 object-cover object-center">
								<div class="flex-auto">
									<div class="space-y-1 sm:flex sm:items-start sm:justify-between sm:space-x-6">
										<div class="flex-auto space-y-1 text-sm font-medium">
											<h3 class="text-gray-900">
												<a href="#">{{item.name}}</a>
											</h3>
											<p class="text-gray-900">€{{item.price}}</p>
											<label for="">Aantal</label>
											<input type="number" name="amount" id="amount" min="0"
												class="w-10 h-auto rounded border border-gray-800">
	
										</div>
										<div class="flex flex-none space-x-4">
											<div class="flex border-l border-gray-300 pl-4">
												<button type="button" class="text-sm font-medium "><svg
														xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
														stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
														<path stroke-linecap="round" stroke-linejoin="round"
															d="M6 18L18 6M6 6l12 12" />
													</svg>
												</button>
											</div>
										</div>
									</div>
								</div>
								</li>
								{% endfor %}
								<svg class="rotate-[160deg]  absolute flex left-1/2 -ml-[505.355px] w-auto h-[223.8px] -z-10" viewbox="0 0 903 822"
									fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_d_32_44)">
										<path
											d="M288.722 1.01264C341.292 -6.66232 396.981 51.5771 413.019 131.938C429.058 211.848 400.1 283.18 347.529 291.307C295.405 299.433 239.27 241.194 222.787 160.832C206.303 80.9225 236.152 9.59054 288.722 1.01264ZM607.262 1.01264C660.278 9.59054 689.681 80.9225 674.088 160.832C657.159 241.194 601.47 299.433 548.9 291.307C495.884 283.18 466.926 211.848 483.41 131.938C499.448 51.5771 555.137 -6.66232 607.262 1.01264ZM50.3741 208.688C101.162 186.566 170.216 226.747 206.303 296.724C240.161 368.056 228.578 443 178.236 465.122C127.893 487.244 59.2843 447.515 24.089 376.634C-11.1063 305.754 1.36802 230.359 50.3741 208.688ZM852.293 208.688C901.299 230.359 913.773 305.754 878.578 376.634C843.382 447.515 774.774 487.244 724.431 465.122C674.088 443 662.505 368.056 696.364 296.724C732.45 226.747 801.504 186.566 852.293 208.688ZM777.892 695.371C779.674 737.809 747.598 784.762 709.284 802.369C629.537 839.389 535.089 762.64 446.433 762.64C357.776 762.64 262.437 842.55 184.027 802.369C139.476 780.247 108.736 721.556 114.528 672.798C122.547 605.529 202.293 569.411 249.517 520.201C312.334 456.544 356.885 336.905 446.433 336.905C535.535 336.905 582.759 454.738 642.903 520.201C692.354 575.28 774.774 621.782 777.892 695.371Z"
											fill="#0898CC" fill-opacity="0.15" shape-rendering="crispEdges" />
										</g>
										<defs>
										<filter id="filter0_d_32_44" x="0" y="0.333496" width="902.667" height="821.333" filterunits="userSpaceOnUse"
											color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix" />
											<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
												result="hardAlpha" />
											<feOffset dy="4" />
											<feGaussianBlur stddeviation="2" />
											<feComposite in2="hardAlpha" operator="out" />
											<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
											<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_32_44" />
											<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_32_44" result="shape" />
										</filter>
										</defs>
										</svg>
							<!-- More products... -->
							</ul>
							</div>

</div>
				<div class="mx-auto w-full max-w-lg">
					<div class="flex border-l border-gray-300 pl-4"></div>
					{# <div class="flex border-l border-gray-300 pl-4"> #}


						<h2 class="text-lg font-medium text-gray-900">Totaalprijs</h2>
						<dl class="mt-10 space-y-6 text-sm font-medium text-gray-500">
							<div class="flex justify-between">
								<dt>Subtotaal</dt>
								<dd class="text-gray-900">€104.00</dd>
							</div>
							<div class="flex justify-between">
								<dt>Verzending</dt>
								<dd class="text-gray-900">€8.32</dd>
							</div>
							<div class="flex justify-between">
								<dt>Totaalprijs</dt>
								<dd class="text-gray-900">€14.00</dd>
							</div>
						</dl>

						<!-- Submit button, enable/disable based on form state -->
						<div class="flex justify-center">
							<button type="submit"
								class="mt-6 w-48 rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Continue</button>

						</div>
						</div>
						</div>
		</main>
		</div>

</section>

{% endblock %}